{% if val == "C" %}
  <button class = "bg-gray-200 p-4 w-full h-16 border rounded-lg hover:bg-black" type="button" hx-target = "#calc-screen" hx-vals = '{"expression": "{{val}}"}' hx-post = "/clear">
    {{val}}
  </button>
{% else if val == "=" %}
  <button class = "bg-gray-200 p-4 w-full h-16 border rounded-lg hover:bg-black" type="button" hx-target = "#calc-screen" hx-vals = '{"expression": "{{val}}"}' hx-post = "/solve">
    {{val}}
  </button>
{% else %}
  <button class = "bg-gray-200 p-4 w-full h-16 border rounded-lg hover:bg-black" type="button" hx-target = "#calc-screen" hx-vals = '{"expression": "{{val}}"}' hx-post = "/display">
    {{val}}
  </button>
{% endif %}
